<div id="top-bar" class="container mBlue_bg">
    <div class="row h100">
        <div id="top-menu" class="col-xs-2 top-icon-left">
            <img src="img/icon-menu-white.png" class="img-responsive vcenter" onclick="goPage('home')">
        </div>
        <!-- col 2 icon -->
        <div id="app-name-top" class="col-xs-8 text-center vcenter">
            <h4>HORARIOS FLEXIBLES</h4>
        </div>
        <!-- col 12 bienvenido -->
        <div id="user-th-pic" class="col-xs-2 top-icon-right noPadding dropShadow vcenter">
            <img src={{srcImgUsr}} width=40 height=47 class='vcenter' />
        </div>
        <!-- col 2 user thumb pic -->
    </div>
    <!-- row -->
</div>
<!-- container top bar -->
<div id="second-area" class="container bg_reporte-empleados">
    <div class="row h100">
        <div class="col-xs-12 text-center vcenter">
            <div class="col-xs-12">
                <div id="user-img-b" class="dropShadow">
                </div>
                <!-- user img big -->
            </div>
            <!-- col 12 img -->
        </div>
        <!-- col 12 -->
        <div id="app-submenu">
            <div id="sub-menu-btn" class="animated">
                <!-- Generator: Adobe Illustrator 18.0.0, SVG Export Plug-In  -->
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="41px" height="41px" viewBox="0 0 41 41" enable-background="new 0 0 41 41" xml:space="preserve">
                    <g>
                        <path fill="#03A9F4" d="M20.5,0C9.2,0,0,9.2,0,20.5C0,31.8,9.2,41,20.5,41C31.8,41,41,31.8,41,20.5C41,9.2,31.8,0,20.5,0L20.5,0z" />
                        <g>
                            <rect x="11" y="19" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="19" height="3" />
                            <rect x="11" y="12" fill-rule="even" clip-rule="even" fill="#FFFFFF" width="19" height="3" />
                            <rect x="11" y="26" fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" width="19" height="3" />
                        </g>
                    </g>
                </svg>
            </div>
            <div id="homeHorarios">
            </div>
            <div id="sb-side-right">
                <button id="sb-cerrar" type="button" class="btn btn-default app-submenu-btn sub-menu-close animated" aria-label="Left Align">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <!-- CERRAR -->
            </div>
        </div>
        <!-- col 12 nombre -->
    </div>
    <!-- row -->
</div>
<!-- container -->
<div id="mid-bar" class="container mBlue_bg">
    <div class="row h100">
        <div class="col-xs-12 h100">
            <div class="col-xs-2 noPadding mid-app-icon-name vcenter">
                <img src="img/icon-mid-reporte-empelados.png" class="img-responsive">
            </div>
            <!-- col 2 LOGOUT -->
            <div class="col-xs-10 noPadding mid-app-title">
                <h4 class="mid-app-title">REPORTE DE PERSONAL</h4>
            </div>
            <!-- col 12 bienvenido -->
        </div>
        <!-- col 12 -->
    </div>
    <!-- row -->
</div>
<!-- container mid bar -->
<div id="contenido-area" class="container-fluid noPadding">
    <div class="col-xs-12 mTop">
        <form ng-submit="actualizaReporte()">
            <div class="col-xs-6 recuadro-line rec-1-left">
                <p class="vcenter">Fecha Inicial:</p>
            </div>
            <!-- col 6 -->
            <div class="col-xs-6 recuadro-line rec-1-right">
                <input id="fechaInicial" class="vcenter" ng-model="fechaInicial" />
            </div>
            <!-- col 6 -->
            <div class="col-xs-6 recuadro-line rec-2-left">
                <p class="vcenter">Fecha Final:</p>
            </div>
            <!-- col 6 -->
            <div class="col-xs-6 recuadro-line rec-2-right">
                <input id="fechaFinal" class="vcenter" ng-model="fechaFinal" />
            </div>
            <!-- col 6 -->
            <div class="col-xs-6 recuadro-line rec-3-left">
                <p class="vcenter">Total de horas:</p>
            </div>
            <!-- col 6 -->
            <div class="col-xs-6 recuadro-line rec-3-right">
                <p id="totalHoras" class="vcenter">{{totalHoras}}</p>
            </div>
            <!-- col 6 -->
            <div class="col-xs-12">
                <input class="btn btn-default form-control blue-btn" value="Ver detalle" type="submit" />
            </div>
            <!-- col 6 -->
        </form>
    </div>
    <!-- col 12 -->
    <div class="col-xs-12 mTop">
        <div class="col-xs-12">
            <div class="bs-example" data-example-id="panel-without-body-with-table">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <h3 class="tables-title">Reporte personal</h3>
                    </div>
                    <table id="reporte">
                        <colgroup>
                            <col/>
                            <col style="width: 70px" />
                            <col style="width: 70px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th data-field="fecha">Fecha</th>
                                <th data-field="horas">Horas</th>
                                <th data-field="detalle">Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td></td><td></td><td></td></r>
                            <tr ng-repeat="dtl in detalle">
                                <!--<td>{{dtl.fechaF}}</td>
                                <td>{{dtl.horas}}</td>-->
                                <td>
                                </td>
<td>
                                </td>
<td>
                                </td>

                        </tr>
                        </tbody>
                    </table>
                    <!-- table reporte -->
                </div>
                <!-- panel default -->
            </div>
            <!-- panel with table -->
            <div id="dlgDetalleDia" class="col-xs-12" title="Detalle">
                <table id="reporteDia" border="1">
                </table>
            </div>
            <!-- dlgDetalleDia -->
        </div>
        <!-- col 12 -->
    </div>
    <!-- col 12 -->
</div>